.row {
    display: flex;
}

.col, .list {
    display: flex;
    flex-direction: column;
}

._h-d-f {
    display: flex;
}

._h-fw-w {
    flex-wrap: wrap;
}

._h-jc-c {
    justify-content: center;
}

._h-jc-sb {
    justify-content: space-between;
}

._h-jc-fs {
    justify-content: flex-start;
}

._h-jc-fe {
    justify-content: flex-end;
}

._h-ai-c {
    align-items: center;
}

._h-ai-fs {
    align-items: flex-start;
}

._h-gap-smx {
    gap: 5px
}

._h-gap-sm {
    gap: 10px
}

._h-gap-md {
    gap: 15px
}

._h-gap-lg {
    gap: 30px
}

._h-gap-xl {
    gap: 45px
}

