.block-editor {
    padding: 0.7em;
    background: var(--c-dark-800);
    border-radius: 3px;

    &--bubble-menu {
        display: flex;
        background-color: var(--c-dark-900);
        box-shadow: 0 0 0 2px rgba(var(--c-rgb-white), 20%);
        padding: 0.2rem;
        border-radius: 3px;

        .mdi {
            font-size: var(--t-fz-h5);
        }

        button {
            border: none;
            background: none;
            color: #FFF;
            font-size: 0.85rem;
            font-weight: 500;
            padding: 0 0.2rem;
            opacity: 0.6;
            transition: background-color .1s ease-in-out;
            border-radius: 3px;

            &:hover {
                background: var(--c-primary);
            }

            &.is-active {

            }

            &:hover,
            &.is-active {
                opacity: 1;
            }
        }
    }

    &--bar {
        padding: 0.4em;
        margin-bottom: 20px;
        background: rgba(var(--c-rgb-white), 8%);
        border-radius: 3px;
        color: rgb(var(--c-rgb-white));

        button {
            color: #FFF;
            background: var(--c-dark-900);
            border-radius: 3px;
            box-shadow: 0 0 0 2px rgba(var(--c-rgb-white),20%);
            outline: 0;
            border: 0;

            &:focus, &:hover {
                background: var(--c-secondary-dark);
            }
        }
    }

    &--content {
        .ProseMirror {
            padding: 0.5em;
            color: rgb(var(--c-rgb-white));
            transition: background-color .1s ease-in-out;
            border-radius: 3px;
            font-size: var(--t-fz-text);
            line-height: 1.4;

            &-focused {
                outline: 0;
                background: rgba(var(--c-rgb-white), 8%);
            }
        }

        strong {
            font-weight: 700;
        }

        img {
            max-width: 100%;
            object-fit: cover;
            border-radius: 3px;
        }
    }

    &--counter {
        line-height: 1.4;

        span {
            padding: 0.2em;
            background: var(--c-dark-700);
            border-radius: 3px;
        }
    }

    &--media {
        position: relative;

        &:hover {
            .horizontal-resize-handle, .vertical-resize-handle{
                opacity: 1;
            }
        }
        .horizontal-resize-handle, .vertical-resize-handle {
            opacity: 0;
            background: var(--c-primary);
            box-shadow: 0 0 0 4px rgba(var(--c-rgb-white), 8%);
            border-radius: 3px;
            transition: opacity .1s ease-in-out;
        }

        .horizontal-resize-handle {
            cursor: col-resize;
            position: absolute;
            top: 50%;
            left: calc(100% - (30% - 20px));
            z-index: 50;
            width: calc(50% - 30px);
            min-width: 40px;
            height: 8px;
            transform: rotate(90deg);
        }

        .vertical-resize-handle {
            width: 4px;
            height: calc(50% - 20px);
        }
    }
}