.popup {
    position: relative;

    &--menu {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        visibility: hidden;
        opacity: 0;
        top: calc(100% + 5px);
        left: 0;
        position: absolute;
        width: 100%;
        min-width: 150px;
        max-width: 200px;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 0 0 2px rgba(var(--c-rgb-white), 20%);

        background: var(--c-dark-900);
        z-index: 10;
        transition: opacity .1s ease-in-out, visibility .1s ease-in-out;

        &.is-active {
            visibility: visible;
            opacity: 1;
        }

        li a {
            width: 100%;
            padding: 0.2em 0.4em;
            text-decoration: none;

            &:hover {
                background: var(--c-dark-800);
            }

            &:active, &.is-active {
                color: rgb(var(--c-rgb-white));
                background: var(--c-secondary-dark);
            }
        }

        &:has(.popup--container) {
            padding: 0.4em;
            min-width: 280px;
            max-width: 280px;
        }
    }

    &--container {
        padding: 0.4em;
        box-sizing: border-box;

        input {
            background: rgba(var(--c-rgb-white), 5%);
        }

        .filepond--panel-root {
            background: rgba(var(--c-rgb-white), 5%);
        }
    }
}