@import url("@mdi/font/css/materialdesignicons.css");

.section-dashboard {
    width: 100vw;
    height: calc(100vh - 50px);
    background: var(--c-dark-900);
    overflow-x: hidden;

    .container {
        flex-shrink: 0;
        max-width: 1024px;
    }

    aside {
        display: none;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: var(--c-dark-800);
    }

    .left-panel {
        display: flex;
        width: 100%;
        max-width: 280px;
    }
}