---
import '@app/styles/base.css'
import BaseLayout from '../../layouts/base.astro'
import '../../styles/landing/index.css'
import AuthForm from "../../components/security/auth-form.vue"
---

<BaseLayout>
    <section class="section-auth">
        <div class="container">
            <div class="row _h-jc-c _h-gap-md">
                <div class="col _h-jc-c _h-gap-lg __fill-white">
                    <AuthForm client:idle client:only/>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>