---
import '@app/styles/base.css'
import BaseLayout from '../../layouts/base.astro'
import '../../styles/landing/index.css'
import RegForm from "../../components/security/reg-form.vue"
import NotifyStack from "../../components/global/notify-stack.vue";
---

<BaseLayout>
    <section class="section-auth">
        <div class="container">
            <div class="row _h-jc-c _h-gap-md">
                <div class="col _h-jc-c _h-gap-lg __fill-white">
                    <RegForm client:idle client:only/>
                </div>
            </div>
        </div>
    </section>
    <NotifyStack client:idle client:only/>
</BaseLayout>