:root {
    --c-primary: #D97F27;
    --c-primary-border: rgba(217, 127, 39, 0.6);
    --c-secondary: #A35D43;
    --c-secondary-dark: #61312D;
    --c-dark-900: #211F22;
    --c-dark-800: #2d292d;
    --c-dark-700: #484148;
    --c-light: #EED09C;
    --c-grey: #9E9E9E;

    --c-rgb-secondary-dark: 97, 49, 45;
    --c-rgb-white: 230, 230, 230;
}

._c-white {
    color: rgb(var(--c-rgb-white));
}

._c-light {
    color: var(--c-light);
}

.container {
    &.__fill-white {
        background: rgb(var(--c-rgb-white), 4%);
        backdrop-filter: blur(4px);
    }
}

.col {
    &.__fill-white {
        background: rgb(var(--c-rgb-white), 6%);
    }
}