:root {
    --t-ff-primary: 'Literata';
    --t-ff-secondary: 'Noto Sans';

    --t-fz: 18px;
    --t-fz-h1: calc(var(--t-fz) + 46px);
    --t-fz-h2: calc(var(--t-fz) + 30px);
    --t-fz-h3: calc(var(--t-fz) + 28px);
    --t-fz-h4: calc(var(--t-fz) + 18px);
    --t-fz-h5: calc(var(--t-fz) + 8px);
    --t-fz-h6: calc(var(--t-fz) + 4px);

    --t-fz-text: var(--t-fz);
    --t-fz-help: calc(var(--t-fz) - 2px);
}

._t-fz-text, .content p {
    font-size: var(--t-fz-text);
}

._t-fz-h1, .content h1 {
    font-size: var(--t-fz-h1);
}

._t-fz-h2, .content h2 {
    font-size: var(--t-fz-h2);
}

._t-fz-h3, .content h3 {
    font-size: var(--t-fz-h3);
}
._t-fz-h4, .content h4 {
    font-size: var(--t-fz-h4);
}
._t-fz-h5, .content h5 {
    font-size: var(--t-fz-h5);
}
._t-fz-h6, .content h6 {
    font-size: var(--t-fz-h6);
}

._t-ff-primary {
    font-family: var(--t-ff-primary);
}

.content {
    h2, h3, h4, h5, h6 {
        margin-bottom: 0.2em;
    }

    p {
        padding: 0.3em 0 0.6em;
        line-height: 1.4;
    }

    img {
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        margin-bottom: 0.2em;
        margin-top: 0.2em;
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
    }
}