---
import { Icon } from 'astro-icon'
---

<section class="section-features">
	<div class="container">
		<div class="row _h-gap-md _h-jc-c">
			<div class="col _h-jc-c _h-gap-lg __fill-white">
                <h1 class="title _t-ff-primary _t-fz-h1">
                    SIGN.arius
                </h1>
                <div class="subtitle _t-fz-h5 _c-light">
                    Self-deploy web platform
                    for extandable blogging
                </div>
				<ul class="list _h-gap-md _t-ff-primary">
					<li>
						<a href="#">
							<Icon name="mdi:github" />
							<span>View on Github</span>
						</a>
					</li>
					<li>
						<a href="#">
							<Icon name="mdi:file-document" />
							<span>Documentation</span>
						</a>
					</li>
					<li>
						<a href="#">
							<Icon name="mdi:hand-coin" />
							<span>Donate on ЮMoney</span>
						</a>
					</li>
					<li>
						<a href="#">
							<Icon name="mdi:patreon" />
							<span>Donate on patreon</span>
						</a>
					</li>
				</ul>
            </div>
		</div>
	</div>
</section>