---
import '@app/styles/base.css'
import '@app/styles/public/index.css'
import PostListContainer from "../../../components/dashboard/post/post-list-container.vue";
import BaseLayout from "../../../layouts/base.astro";
---

<BaseLayout>
    <section class="section-hero">
        <div class="container">
            <div class="_h-d-f"></div>
            <h1 class="_t-fz-h1 _h-d-f _h-jc-fe">#Blog</h1>
        </div>
    </section>
    <section class="section-board">
        <PostListContainer/>
    </section>
</BaseLayout>

