---
import '../styles/base.css'
import '../styles/landing/index.css'
---

<section class="section-features">
    <div class="container">
        <h1 class="title _t-ff-primary _t-fz-h1">
            401 Access Denied. Need authorize
        </h1>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_kgbbisxb.json"  background="transparent"  speed="1"  style="width: 50vw; height: 100%;"  loop  autoplay></lottie-player>
    </div>
</section>

