---
import BaseLayout  from '@app/layouts/base-layout.astro';
import SgnPostList from 'src/components/post/sgn-post-list.vue';
---

<BaseLayout title="Home">
    <div class="text-4xl font-light mb-8">
        Related posts
    </div>
    <SgnPostList client:only="vue"/>
</BaseLayout>