---

---
<footer class="bg-zinc-800">
    <div class="container px-6 py-8 mx-auto">
        <hr class="my-10 border-gray-200 dark:border-gray-700"/>

        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
            <p class="text-sm text-gray-500 mb-3 sm:mb-0">
                Site content under license
                <a class="text-white underline hover:text-slate-300 hover:no-underline" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ru">
                    Creative Commons BY-NC-ND
                </a>
            </p>

            <p>
                <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ru">
                    <img src="https://licensebuttons.net/l/by-nc-nd/3.0/88x31.png">
                </a>
            </p>

            <div class="flex mt-3 -mx-2 sm:mt-0">
                <a href="#"
                   class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                   aria-label="Reddit"> Teams </a>

                <a href="#"
                   class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                   aria-label="Reddit"> Privacy </a>

                <a href="#"
                   class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                   aria-label="Reddit"> Cookies </a>
            </div>
        </div>
    </div>
</footer>