.dashboard-bar {
    width: 100%;
    top: 0;
    position: sticky;
    background: var(--c-secondary-dark);
    min-height: 50px;
    overflow-x: hidden;
    z-index: 99;

    .avatar {
        border: 2px solid var(--c-secondary);
    }
}