.post {
    width: 100%;
    max-width: 320px;
    border-radius: 3px;
    box-sizing: border-box;

    picture {
        display: flex;
        overflow: hidden;
        background: var(--c-dark-900);
        border-radius: 3px;

        img {
            object-fit: cover;
            transition: transform .3s ease-in-out;
            transition-delay: 300ms, 1s;
        }
    }

    a:hover {
        picture {
            box-shadow: inset 2px solid var(--c-secondary);
        }

        img {
            transform: scale(1.9) rotate(30deg);
        }

    }
}