---
import '../../../styles/base.css'
import AdminLayout from '../../../layouts/admin.astro'
import '../../../styles/landing/index.css'

---

<AdminLayout>
    <section class="section-auth">
        <div class="container">
            <div class="row _h-jc-c _h-gap-md">
                <div class="col _h-jc-c _h-gap-lg __fill-white">
                    Dashboard
                </div>
            </div>
        </div>
    </section>
</AdminLayout>