.block-list {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    background: var(--c-dark-900);

    > .col {
        flex-grow: 1;
    }
    
    &--form {
        background: var(--c-dark-800);
        border-radius: 3px;
        padding: 0.7em;
        color: rgb(var(--c-rgb-white));
    }
}