input {
    border: 0;
    font-size: var(--t-fz-text);
    flex-grow: 1;

    &:focus, &:focus-within {
        outline: 0 !important;
        box-shadow: 0 0 0 2px var(--c-primary);
    }
    
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px rgb(var(--c-rgb-white)) inset;
    }

    &:hover {
        box-shadow: 0 0 0 2px var(--c-primary-border);
    }

    &[type="text"], &[type="email"], &[type="password"], &[type="url"] {
        padding: 5px 5px;
        min-height: 40px;
        border-radius: 3px;
        background-color: var(--c-dark-900);
        color: rgb(var(--c-rgb-white));
        transition: box-shadow .1s ease-in-out;
        max-width: 100%;
        box-sizing: border-box;
    }
}

textarea {
    padding: 5px 5px;
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    border-radius: 3px;
    background-color: var(--c-dark-900);
    color: rgb(var(--c-rgb-white));
    transition: box-shadow .1s ease-in-out;
}

select {
    width: 100%;
    position: relative;
    padding: 5px calc(0.25em * 7) 5px 5px;
    appearance: none;
    border: none;
    font-size: var(--t-fz-text);
    min-height: 40px;
    border-radius: 3px;
    background-color: var(--c-dark-900);
    color: rgb(var(--c-rgb-white));
    transition: box-shadow .1s ease-in-out;
    max-width: 100%;
    box-sizing: border-box;

    &:hover {
        box-shadow: 0 0 0 2px var(--c-primary-border);
    }
}

.formkit {
    &-wrapper {
        width: 100%;
        box-sizing: border-box;
    }

    &-form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &-outer {
        margin-bottom: 0.7em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        &.half {
            max-width: calc(50% - 20px);
        }

        &[data-invalid="true"] input:focus {
            box-shadow: 0 0 0 2px var(--c-secondary-dark);
        }

        &[data-type="select"] .formkit-inner {
            position: relative;
            max-width: 320px;

            &:after {
                top: 5px;
                right: 5px;
                position: absolute;
                content: "\F0045";
                display: block;
                font: normal normal normal 24px/1 Material Design Icons;
            }
        }

        &[data-type="file"] .formkit-inner {
            box-sizing: border-box;
            padding: 15px 5px 15px 35px;
            position: relative;
            max-width: 320px;
            min-height: 50px;
            border-radius: 3px;
            background-color: var(--c-dark-900);
            color: rgb(var(--c-rgb-white));
            transition: box-shadow .1s ease-in-out;

            &:hover {
                box-shadow: 0 0 0 2px var(--c-primary-border);
            }

            &:before {
                top: 15px;
                left: 5px;
                position: absolute;
                content: "\F0552";
                display: block;
                font: normal normal normal 24px/1 Material Design Icons;
            }

            .formkit-file-remove {
                padding-left: 5px;
                z-index: 1;
                background: transparent;
                color: rgb(var(--c-rgb-white));
                border: none;
            }
        }

        &[data-type="file"] .formkit-input {
            display: block;
            appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            z-index: 2;
            color: transparent;
            opacity: 0;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            padding: 5px;
            box-sizing: border-box;
        }

        &[data-type=file] .formkit-no-files {
            color: rgb(var(--c-rgb-white));
        }
    }

    &-inner {
        display: flex;
    }

    &-label {
        display: flex;
        margin-bottom: 0.5em;
        font-size: var(--t-fz-h6);
    }

    &-icon {
        padding: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--c-dark-900);

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &-help {
        padding: 0.3em 0;
        font-size: var(--t-fz-help);
    }

    &-message {
        margin-bottom: 0.2em;
        padding: 0.3em;
        background: var(--c-secondary-dark);
        font-size: var(--t-fz-help);
        border-radius: 3px;
    }

    &-messages {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


}

.btn, button[type="submit"]  {
    display: flex;
    align-items: center;
    border: 0;
    padding: 0.5em 1.2em;
    border-radius: 3px;
    font-size: var(--t-fz-h6);
    transition: background-color .1s ease-in-out, box-shadow .1s ease-in-out;
    max-width: 100%;
    box-sizing: border-box;

    &.__primary {
        background: var(--c-primary-border);
        color: rgb(var(--c-rgb-white));

        &:hover {
            cursor: pointer;
            background: var(--c-primary);
            box-shadow: 0 0 0 3px var(--c-primary-border);
        }

        &:hover:active {
            background: var(--c-light);
            box-shadow: 0 0 0 3px var(--c-light);
            color: var(--c-dark-900);
        }

        &.is-active {
            background: var(--c-light);
            color: var(--c-dark-900);
        }
    }
    &.__secondary {
        background: var(--c-secondary);
        color: rgb(var(--c-rgb-white));

        &:hover {
            cursor: pointer;
            background: var(--c-secondary);
            box-shadow: 0 0 0 3px var(--c-secondary-dark);
        }

        &:hover:active {
            background: var(--c-secondary-dark);
            box-shadow: 0 0 0 3px var(--c-secondary-dark);
            color: var(--c-light);
        }
    }

    &.__sm {
        padding: 0.5em 0.8em;
        font-size: var(--t-fz-text);
    }
}

button[type="submit"] {
    background: var(--c-primary-border);
    color: rgb(var(--c-rgb-white));

    &:hover {
        cursor: pointer;
        background: var(--c-primary);
        box-shadow: 0 0 0 3px var(--c-primary-border);
    }

    &:hover:active {
        background: var(--c-light);
        box-shadow: 0 0 0 3px var(--c-light);
        color: var(--c-dark-900);
    }
}