---
import HeadTemp from './head-temp.astro'
import LandingHeader from '../components/landing/landing-header.vue'
---

<html lang="en">
    <HeadTemp/>
    <body>
        <LandingHeader/>
        <slot/>
    </body>
</html>