---
import ConfigProvider from 'src/components/provider/config/p-config.vue';
import HeadMeta       from '@app/components/head-meta.astro'
import Header     from 'src/components/header.astro';
import Footer         from 'src/components/footer.astro';
import '@app/styles/base.css'
type Props = {
    title: string;
};

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="min-h-full">
<head>
    <HeadMeta/>
    <title> { title } </title>
</head>
<body class="min-h-full text-slate-100">
    <div id="app" class="flex flex-col h-screen justify-between">
        <Header/>
        <section class="my-auto ">
            <div class="container m-auto py-10 ">
                <slot/>
            </div>
        </section>
        <Footer/>
    </div>
</body>
</html>