---
import ConfigProvider from 'src/components/provider/config/config-provider.vue';
import HeadMeta       from '@app/components/head-meta.astro'
import Header     from 'src/components/header.astro';
import Footer         from 'src/components/footer.astro';
const title = 'Simple title'
---

<!DOCTYPE html>
<html lang="en" class="min-h-full">
<head>
    <HeadMeta/>
    <title> { title } </title>
</head>
<body class="min-h-full">
<ConfigProvider client:idle>
    <div id="app" class="flex flex-col h-screen justify-between">
        <Header/>
        <section class="mb-auto ">
            <div class="container mx-auto py-10">
                <slot/>
            </div>
        </section>
       <Footer/>
    </div>
</ConfigProvider>

</body>
</html>