.list-modify {
    width: 100%;
    max-width: 360px;

    &--item {
        background: transparent;
        color: rgb(var(--c-rgb-white));
        box-shadow: none;
        border: 0;

        &:hover {
            color: var(--c-primary);
        }
    }
}